.questions {
  margin-top: 40px;
}

.questions .question {
    background: #f5f5f2;
    padding: 15px 10px;
    border-radius: 5px;
    &:hover{ background: #DFDFDD; }
}

.questions .question .question-details {
  float: left;
}

.questions .question .question-details .question-title a {
  color: #303030;
  font-size: 21px;
  line-height: 1;
  &:hover, &:focus { color: #F04500; text-decoration: none; }
}

.questions .question .question-details .question-description {
  display: block;
  color: #999;
  font-size: 16px;
}



