.questions {
  margin-top: 40px;
}

.questions .question-summary {
    padding: 12px 0 10px 0;
    border-bottom: 1px solid #e0e0e0;
}

.questions .question-summary {
    overflow: hidden;
    padding: 1px 0;
    float: left;
    width: 728px;
    border-bottom: 1px solid #e0e0e0;
}

.questions .question-summary .summary {
    margin-top: 20px;
    float: left;
}

.questions .question-summary .summary .question-title a {
    color: #07c;
    font-size: 20px; 
    line-height: 1;
    &:hover, &:focus { color: #1C5075; text-decoration: none; }
}


.questions .question-summary .summary .question-description {
  display: block;
  color: #999;
  font-size: 16px;
}

.question-summary .cp {
    float: left;
    margin-right: 10px;
}

.question-summary .cp .votes {
    text-align: center;
    display: inline-block;
    height: 28px;
    min-width: 28px;
    margin: 0 3px 0 0;
    font-size: 14px;
    color: #777;
    padding: 5px 5px 6px 5px;
}



.question-summary .cp .votes .mini-count .upvote-arrow {
    border-bottom: 9px solid #534540;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 9px solid transparent;
    left: 10px;
    top: 0px;
}

.question-summary .cp .votes .mini-count .upvote-count {
    display: block;
    margin-top: 10px;
}




